[2019-11-25 08:55] RyukaTagasaki opened #2 "Select chat tab event"
When integrate the UI to my own web app.
How can i check which chat tab is selected and who i am talking to in my own code?
(i mean which contact id)
How can i catch the event when agent switch to another chat tab?

[2019-11-26 03:41] mschersten opened #3 "Pre-built widget"
Nice to see the new chat feature.  I've deployed these quickstarts and started playing around.  I have a good idea of how the contact flows and the agent integration will work, but the pre-built widget (for the chat customer) is leaving me with some questions.

It is very helpful to have a pre-built widget to use, both to have it ready without having to build one ourselves, and to have an AWS-supp

[2019-11-26 13:29] efh365 commented on #3
Thanks for your feedback! I'm glad to hear that the pre-built widget is easy to use. I will address your points:

1) Good catch! I missed updating the the header in when initializing it. If you look at the index.html file you will see that you can control the values that are in the header and footer to be any html that you want. So I overrode the default header value with my own value.
2) The mess

[2019-11-26 17:22] mschersten commented on #3
Thanks!  I'll go into the first two points, just to clarify how the header is being set.

In asyncCustomerChatUX/website/index.html, the first headerConfig shows up on line 255 inside of a connect.ChatInterface.init() with the message "Chat Demo - You can modify this header or use the default".  This message is never rendered, I believe because connect.ChatInterface.initiateChat() has not been cal

[2019-11-26 18:11] mschersten commented on #3
With respect to #4, I'm thinking about how a lot of commercial chat providers work.  You can sign up for their service and get a small snippet to add to your website.  This then adds a script from an external source, so that any changes can be made to that script server rather then ever having to update the website again.

In this model, an iframe is added that would host the small chat icon float

[2019-12-03 17:03] efh365 commented on #3
You are right that init() is being called before anything is rendered. You have to call init() before initiateChat() otherwise initiateChat() wont work. The call to init() after the chat was started is not needed. I can remove that line and the header will reflect the initial call to init().

For the agent header message, you can either call init() again to set the header or just replace the DOM a

[2019-12-09 14:50] mschersten commented on #2
+1 on this.  For voice calls, we show different information to the agents about the call.  This is kind of trivial for voice calls, because they only handle one at a time, and we just show new information when a new call starts.  But with multiple chats being handled at once, it's essential that the agent see the full context that we can show them specific to the chat they are handling at the time

[2019-12-13 14:31] mschersten commented on #3
Would it be possible to spin the amazon-connect-chat-interface.js into a separate repository?  There's a lot going on there, and I imagine you may have a non-minimized or -linted version that would be a little more accessible.  Something along the lines of the streams API, with separate source files and a makefile to build.

[2019-12-16 03:04] #2 closed

[2019-12-19 01:47] winzig commented on #3
Is there a reason the chat widget is only available as a minified JS bundle, versus something more open and configurable?

[2019-12-20 20:02] winzig commented on #3
cc @efh365

[2019-12-20 22:39] efh365 commented on #3
We are actively working on open sourcing the code for the interface.js file, but we have no timeline on that right now.

[2019-12-20 23:03] winzig commented on #3
@efh365 Could you at least point to some documentation on `connect.ChatInterface`? E.g. what parameters the init() and initiateChat() functions take?

[2019-12-23 20:05] winzig opened #4 "Initialization sometimes fails due to embedded invokeUrl?"
Every once in a while our demo chat client fails when we load the page:

<img width="632" alt="Screen Shot 2019-12-23 at 12 02 21 PM" src="https://user-images.githubusercontent.com/127062/71378328-372ba100-257c-11ea-862e-af3353e51653.png">

Looking at the dev console, it shows a 403 connection error to: `https://4agcjusx3k.execute-api.us-east-1.amazonaws.com/prod/participant/connection`

The reque

[2019-12-26 11:16] MattDN93 commented on #4
Looks like these API Gateway API endpoints behave the same as the ACPS (Amazon Connect Participant) API endpoint.

If you call [CreateParticipantConnection](https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html) and instead of using ```https://participant.connect.us-east-1.amazonaws.com/participant/connection``` you use ```https://4agcjusx3k.execu

[2019-12-26 11:17] MattDN93 commented on #4
Side note - check if when the error occurs, the API deployed in your own account is returning a new ParticipantToken - if the same / a cached ParticipantToken is returned, the ACPS API responds with a 403.

[2019-12-26 19:37] winzig commented on #4
@MattDN93 Thanks Matt. I'll look into that. If it is, how would we resolve the underlying issue? Currently we're just using the Lambda functions provided as part of this repo.

[2019-12-26 19:57] efh365 commented on #4
Hi @winzig, thanks for reaching out. Can you try to download the most recent version of amazon-connect-chat-interface.js? It was just uploaded last week. We realized it was using an older version of ChatJS that did not properly destroy a websocket connection after a chat disconnects via API (either using the disconnect block or calling StopContact()). The subsequent chat started after ending the p

[2019-12-26 21:44] winzig commented on #4
@efh365 I'll check but I think I did integrate that last week. However, when we are seeing this is typically during testing, after letting the chat sit for a while, and then hitting reload on the page that starts the chat back up again. Do we need to make a specific call in the JS when someone is reloading (or otherwise exiting) the page?

[2019-12-27 01:20] winzig commented on #4
@efh365 Confirmed we have the latest. Also appears I was wrong on the circumstances leading up to the error. It's happening after we call the internal `endChat` function directly to end the chat, and then we reload the page and re-init the chat, and we get this error.

The reason we're calling endChat internal method directly is because we're putting an End Chat button in a different place in the

[2019-12-27 01:59] winzig commented on #4
@efh365 I take it back, I now am thinking we did not have the new JS code you put in place last week, and I think the issue is now resolved. It's hard to tell for sure because the code is all minified as you know.

I'm going to close this as I think my issue is resolved, but if you know of a way to officially end the chat using the sample chat client so that we don't need to use my hack above, tha

[2019-12-27 01:59] #4 closed

[2020-01-02 13:20] efh365 commented on #3
I will work on adding short documentation, but it only takes the parameters used in the code shared:

connect.ChatInterface.init({
  containerId: String (div id where the chat widget should go),
  headerConfig: {
    isHTML: true,
     render: () => {
       return  (`<html code here/> `)
    }
  },
  footerConfig: {
    isHTML: true,
     render: () => {
       return  (`<html code here/> `)

[2020-01-24 12:38] chiraibm commented on #3
Hi Experts,
Is there any way to integrate whatsapp with Amazon connect chat? Scenario is Customer will send message via whatsapp and agents will be able to respond from Amazon Connect chat.
Thank you in advance.

[2020-01-29 02:42] zach-anthony opened #5 "Invalid DynamoDB TTL"
Just noticed after deploying the stack that the TTL is being set in milliseconds and not seconds which DynamoDB doesn't support. I would recommend using `Math.floor(Date.now() / 1000)` instead of `Date.now()` in startChatContact.js in the asyncCustomerChatUX example

[2020-01-29 03:17] #5 closed

[2020-02-06 12:33] Karthik-Bahiradhan opened #7 "Cors errors occured when we created request to 'https://participant.connect.us-west-2.amazonaws.com/participant/connection'"
We are trying to execute the example chat application with lambda & API Gateway,

We are able to get the response from API Gateway, but when we tried to create the request, we are getting following errors as below,

Access to XMLHttpRequest at 'https://participant.connect.us-west-2.amazonaws.com/participant/connection' from origin 'https://amazonconnectchat.s3.amazonaws.com' has been blocked by CO

[2020-02-19 16:45] efh365 commented on #7
Hi Karthik,

Are you testing the asyncCustomerChatUX solution or the startChatContactAPI? If you are testing the async one with the UX, you should be making calls from the CloudFront distribution, not from the S3 location.

[2020-03-06 18:25] ajmsra opened #8 "Chat Initialization fails for same participant"
When a user has interacted once and his chat is closed, if he tries to reconnect with the same `First Name` and `Username` I am seeing below error in the browser console. The page is stuck at "Loading" and chat never starts. I tried giving all the roles "Administrator" access that are deployed. But still seeing this error

[code]

[2020-03-06 23:10] efh365 commented on #8
Hi ajmsra, Im not sure why you are in this state. It is interesting that you are getting an AccessDeniedException. When you look at the DDB, does it show an active conversation for the entry with the firstname + username? if so, this means the function that is supposed to update the DDB at the end of the chat did not work properly. I would look at the logs for that function to see what it is not p

[2020-03-17 18:14] ajmsra commented on #8
@efh365 yes it seems like, dynamo DB table is not getting updated when the chat ends, because of which the conversation is still active and hence that error.

I was looking at the logs for this function
**initiateChatLambda-** and it seems fine and do not see any errors
Can you please point me to the code in the lambda function which is s

[2020-03-17 18:41] efh365 commented on #8
Make sure the S3 trigger is set up properly. When the chat ends, the transcript should be uploaded to S3 and that triggers an update to DDB to mark the conversation as ended.

[2020-03-17 20:31] ajmsra commented on #8
yes, it looks like `UpdateDdbWithS3LocationLambda` was never triggered, even though I see objects inside the bucket which holds ChatTranscripts.

[2020-03-17 22:12] ajmsra commented on #8
after removing prefix from S3 trigger it is working fine now, thank you for your help

[2020-03-17 22:42] #8 closed

[2020-03-23 23:31] antoninotony opened #10 "async chat closing on completion"
Let me start by saying thanks for providing the async chat example - it's fantastic. I'm running in to one small problem with our instance of it, however.

 Basically, whenever a chat is ended, either by the agent or the customer, the customer facing chat window goes blank and closes. I've modified the HTML to make the container keep displaying when it closes, but the chat goes blank. If possible,

[2020-03-26 13:05] efh365 commented on #10
Hi, antoniotony. I'm glad you like the example!

Yes, you can do this. You can do this by overwriting the footer config and invoking your own function to end the chat. You will also need to add logic to disable the end chat button and disable the user sending more text after the chat is over. Here are two places where you need to modify the sample asyncChatUX index.html file:

1) Add a footer conf

[2020-03-30 11:39] comparative commented on #10
Hi -- I'm helping antoniotony with this integration.

We implemented the custom footer / end function according to your suggestion...  however calling `chatSession.client.session.disconnectParticipant()` still clears the chat window.

Any suggestions or workarounds??  Thank you!

[2020-03-30 16:14] efh365 commented on #10
Did you also do step #2 to remove resetForm() ? If so, can you share your code and the logs around the disconnect?

Also, make sure you added the footer config to each call to connect.ChatInterface.init()

[2020-03-31 15:20] comparative commented on #10
Thanks for your help!  Code is here:

https://github.com/antoninotony/laitschat/blob/master/index.html

Yes we removed resetForm() and added the footer config to both `connect.ChatInterface.init() `calls.

The behavior we're seeing is that the chat window remains on screen but goes completely blank except for the footer.

This happens when a customer invokes `chatSession.client.session.disconnectP

[2020-04-03 10:49] adesheddie opened #12 "Disable/Remove console logs"
Is there any way to disable all the console logs once the chat starts?

[2020-04-06 09:35] mtzluis opened #13 "Any way to create a component with reactJs?"
I am trying to create a component in reaction, but I have an error in initialization.
What is the best way to import `js / amazon-connect-chat-interface.js`?
[code]

[2020-04-07 20:33] gunjanteo commented on #3
Hi @efh365 ,
Is there a way to render the message coming from the bot side to be shown in multiple messages based on splitting the incoming message on some delimiter. I am trying to achieve this functionality but got to know can only be achieved in UI.  Please tell me a way where I can split the incoming message and show it into multiple messages in the Chat widget UI.

[2020-04-08 07:41] mtzluis commented on #3
Hi @mschersten , @efh365 , @winzig, @chiraibm, @gunjanteo

How to add a function in the html of the footer?
thanks
[code]

[2020-04-12 10:04] gunjanteo commented on #3
Hi Experts
I want to integrate React Application with Amazon connect chat. Pls tell the way for doing this integration???

[2020-04-14 22:06] JakeScheller opened #14 "Source files for amazon-connect-chat-interface.js"
First off, thanks a bunch for providing this example implementation. It's really helped my team get off the ground much quicker than we otherwise could.

I love the asyncCustomerChatUX widget, but I'd like to be able to modify it a little to work better for my team's needs. It looks like amazon-connect-chat-interface.js defines the React components that render the widget. Would it be possible for

[2020-04-17 19:16] hiteshbhattarai opened #17 "Api Gateway response MissingAuthenticationTokenException."
We are using AuthorizerLambdaFunction with CognitoUserPool to authorize ApiGateway. While trying initiateChat with apiGatewayEndpoint, we are receiving MissingAuthenticationTokenException. We have implement a way to get accesstoken from UserPoll but how do we pass while initiateChat. Or I am not sure if I am doing somethign wrong.

One more question, we already have amazon connect running and is b

[2020-04-20 06:49] vovanb commented on #2
+1 - don't understand why it is closed?

[2020-04-20 18:27] efh365 commented on #10
Sorry for the delay here. Did you figure out your issue?

[2020-04-20 18:27] efh365 commented on #12
No, we currently don't have that functionality. I will look into adding it for a future release.

[2020-04-20 18:29] efh365 commented on #14
Hi Jake,

I'm glad it has been a help for you! We are still looking into open sourcing it, but do not have any timeline for that.

[2020-04-20 18:36] angieyu commented on #13
@mtzluis when you console log window.connect, what does it return?

[2020-04-20 18:37] efh365 commented on #17
Hi Hitesh,

Is this for the async chat solution with the pre-built widget? I don't believe you can use an authorizer lambda function with the widget as the underlying call to API Gateway will need to have a signature change for that functionality.

For your second question, no, you don't need to run this template to implement chat. These templates are here to help get you started with the customer

[2020-04-20 19:07] JakeScheller commented on #14
Alright, thanks for the update!

[2020-04-21 13:59] comparative commented on #10
Hello -- nope, behavior is still as stated i.e. when we follow your suggestions

1. comment out the call to `resetForm` so the chat window does not slide off screen when `onChatDisconnected` fires

2. call `chatSession.client.session.disconnectParticipant()` via an "End Chat" button in a custom footer

... we see the incoming event "vnd.amazonaws.connect.event.chat.ended" in the logs and the chat

[2020-04-22 06:55] wildone commented on #3
Thanks for this repo. As this is a paid product is there a ready to go example of this widget that can be dropped straight into a page without any work/hosting. This seem to be described in this page https://aws.amazon.com/blogs/aws/new-omnichannel-contact-center-web-and-mobile-chat-for-amazon-connect/ and illustrated in this this image:
![image](https://user-images.githubusercontent.com/170312/79

[2020-04-24 15:37] #14 closed

[2020-05-07 04:27] lkolchin commented on #3
Agree with @wildone on this one.

[2020-05-12 22:23] hiteshbhattarai commented on #17
Hi,
  Thanks for the help. I was able to get asyncCustomerChatUX running.

But I am still facing one final issue, First time initiateChat  goes well, But second time if we try to initiateChat  we are facing Initiazilation failed error. Prod api returns successfully new token but next call fails even its using new token. It happen lots of time.
![2020_05_12_17_20_43_Settings](https://user-images.gi

[2020-05-13 14:00] efh365 commented on #17
Please make sure your S3 trigger is set up properly. Once a call is over the transcript is put in S3. That event marks the chat as complete in the DDB table. If the chat is not marked as complete, the previous chat's connection token is returned and there is 403 establishing the chat when talking to ACPS.

[2020-05-19 14:49] #17 closed

[2020-05-19 22:33] hiteshbhattarai opened #18 "asyncCustomerChatUX widget unable to display Lex Prompt response cards."
Hi, We have integrated Lex with chat  and its displaying slots prompt in chat widget but it doesnot display slots prompt response cards  as a option in widget. How can we achieve that. We want user  to select those options. Any help would be greatly appreciated.

[2020-06-30 17:17] efh365 commented on #18
Hi. Currently the widget does not integrate with Lex response cards. If you want to give the customer options to select from Lex, you will need to build your own customer chat implementation. You can send a message to the customer through Amazon Connect as a JSON blob and then in the customer chat implementation you can parse that JSON and render it as a list picker.

[2020-06-30 17:42] #7 closed

[2020-07-02 14:42] vitalyper opened #19 "Calling startChatContact Directly Via AWS SDK for JavaScript"
Can custom chat widget call directly without need for Lambda and API Gateway?
If yes, why API Gateway is required in your example.

[2020-07-06 13:14] iamgokul46 opened #20 "initiateChat failure2"
I am trying to customize the default demo website and start the chat from customized website. I have changed the form, added few styles when i click on startchat . The website starts loading but it doesn't initiate chat. In inspect console it is "initiateChat failure2" error.

[2020-07-08 14:47] nbaillie opened #21 "contactAttributes"
I found that ContactAttributes were not being passed via the Lambda behind the API to Connect.

From the Readme...
[code]

I made the change bellow in the startChatContactAPI-StartChatLambda Lambda and it works now as i would have expected.
**"Attributes": body["Attributes"],**
[code]

and now works with
[code]

Hope this might help others, i am using this to pass a language option in my case.
Cou

[2020-07-28 12:16] dmakhmutov commented on #10
thanks for providing the async chat example
Hello, We faced the same issues. Any updates?

[2020-08-03 20:55] efh365 commented on #19
Technically, yes you can make the call to start the chat without lambda and api gateway. however, to do so you will need to store your AWS credentials in your web application, which is not secure. That is why we use API Gateway instead.

[2020-08-03 20:59] efh365 commented on #20
This typically happens due to the backend thinking that the previous chat is still active. This happens in one of two scenarios:

1) You end a chat and then try to start a new one within a few seconds.
   This happens because the DDB marks a chat as active until the chat transcript is dumped in S3. This takes about 30 seconds to happen so there is a delay in when the chat is marked as complete. Yo

[2020-08-12 14:49] andykuek opened #22 "The widget stucked at loading status"
Hi I have checked that all the details are correct in the troubleshooting section . However the widget remains in loading status.  Any help to resolve this is really appreciated!

Thks

[2020-08-19 12:39] qingliaowu opened #23 "I got access denied for days after following all these instructions"
I got access denied for days after following all these instructions.

[2020-08-19 15:35] qingliaowu commented on #23
This issue was resolved.

[2020-08-19 15:35] #23 closed

[2020-08-26 02:30] conradolega commented on #3
Also, it wasn't immediately obvious, but jQuery is required by the widget - I converted `widgetIndex.html` to not use it and got an error. Any plans on removing the dependency?

[2020-09-10 18:08] jwelborn-sugar commented on #3
Would you be open to a community PR to add this information to the Readme?

[2020-09-15 15:24] mTowers93 opened #24 "IntiateChatFailure1 + InitiateChatFailure2"
Hi there,

I am trying to implement the chatui example and am experiencing two cases of chat initiation failures.

What i've found is that the only way to get another chat to initiate is to delete the entry from dynamodb and then it works. Im not sure why but after the first chat it never creates another item in the DDB for the next chat and the current chat stays as the previous one.

The initiat

[2020-09-17 01:17] syanix opened #25 "send x-api-key in request header"
Is there a way to send x-api-key in request header? (I have tried to guessing the parameter in initiateChat by adding parameters like accessKey, secretKey, clientConfig, but no luck.)

I can see in the minified amazon-connect-chat-interface.js file contains the keyword headers["x-api-key"], but it is difficult to find out what it does without source code.

@efh365  would you be able to share if it

[2020-09-22 18:42] efh365 commented on #25
Hi syanix. No, you are not able to send x-api-key in the request header right now. I will take note of this request and update you if we decide to add that functionality.

[2020-09-22 18:43] efh365 commented on #24
Hi, please refer to the troubleshooting section on the readme: https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/asyncCustomerChatUX

This is mostly likely due to the S3 trigger not being set up properly

[2020-09-22 18:44] efh365 commented on #22
Can you please add any debugging information? does it happen for every chat or only chats when you use the same name? did you launch your stack with uuids instead of arns? any errors in the logs?

[2020-09-24 16:56] ChristianHart opened #26 "Synchronous XMLHttpRequest on the main thread is deprecated"
Hello, thank you for the time to implement this quick start solution for us. I am on the Ops side of things was was still able to figure out how to integrate this onto my site with very minimal JavaScript experience. We are currently working on turning this into a fully usable pop open chat box for our websites.

### Where issue is encountered

I have found the below warning which causes about a 2

[2020-09-30 19:01] ChristianHart opened #27 "S3BucketConfigurationLambdaExecutionRole CloudFormation Resource missing log write perms"
In the CloudFormation template for asyncCustomerChatUX the resource S3BucketConfigurationLambdaExecutionRole doesn't have permissions to write logs to CloudWatch. I ran into this issue when I ran into an error with the S3BucketConfigurationLambda function which I am currently troubleshooting.

Please add the following lines to that lambda execution role so that it can write logs.
[code]

[2020-09-30 19:24] ChristianHartTE commented on #3
@efh365 is there any movement on open sourcing the non-minified JS? We want to adopt this but it is hard to troubleshoot some issues without being able to step through the code.

[2020-09-30 19:24] efh365 commented on #26
Hi Christian, thanks for digging into this here. I tested the current widget by removing async: false and it did not reduce the latency. We are working on a new widget that uses whatwg-fetch instead so that will remove the deprecated functionality.

[2020-09-30 19:41] #13 closed

[2020-09-30 19:41] #19 closed

[2020-09-30 19:41] #20 closed

[2020-09-30 19:42] #21 closed

[2020-09-30 21:41] efh365 commented on #3
We definitely have this feedback and are considering it, but I cannot share more in this forum.

Would you be able to create an AWS Support case for this?

[2020-10-01 12:57] ChristianHartTE commented on #3
We have talked to our AWS provided solutions architect about it. Should we also open up a support ticket?

[2020-10-04 11:39] BrisbaneGamer opened #29 "Cannot start second chat with same details"
Hi, I have an issue where once the chat is ended, it is uploaded to the S3 bucket, though I believe it is then not being updated in DynamoDB. The items in DynamoDB show nextContactId as set to 'CURRENT_CHAT' and previousContactId as set to 'INITIAL_CHAT', which I suspect is wrong.

I have seen that your troubleshooting area mentions to make sure the S3 trigger is set up properly - are you able to

[2020-10-04 12:05] BrisbaneGamer commented on #29
Upon further inspection, I think the issue may be the event on the S3 bucket. I presume that this should be set to Lambda function / 'ConnectChatBot-UpdateDdbWithS3LocationLambda-', though which events should be ticked?

[2020-10-04 13:41] BrisbaneGamer commented on #29
PUT + Lambda Function +  'ConnectChatBot-UpdateDdbWithS3LocationLambda-' as an Event on the S3 bucket appears to have resolved the issue.

[2020-10-05 14:41] #29 closed

[2020-10-06 19:09] angieyu commented on #3
It seems like the original question was answered. If you have any other questions, please open a new issue.

[2020-10-06 19:09] #3 closed

[2020-10-06 19:11] #25 closed

[2020-10-06 19:21] angieyu commented on #10
hi @comparative @antoninotony do you still need help with your use case?

[2020-10-08 01:36] bathi-dev commented on #10
@angieyu yeah, I added a custom end chat button and removed reset form as mentioned but it still clears the chat and a spinner is displayed.

[2020-10-08 08:30] comparative commented on #10
we built a custom chat client to avoid this issue.

[2020-10-08 20:17] bathi-dev commented on #10
`chatSession.client.session.disconnectParticipant()` results in inconsistent events, some times it just generates `application/vnd.amazonaws.connect.event.participant.left` event, if this happens it works as expected, but at times it also generates `application/vnd.amazonaws.connect.event.chat.ended` event and the header and body would go blank. Any idea on how to prevent this?
Most of the times,

[2020-10-22 21:09] robmoores commented on #22
I don't know of it's any help but I have also experienced this on several occasions - the spinner just keeps spinning! It happens when I edit the index.html file Save As a new version, upload it to S3 and change the reference on Cloudformation. I've assumed it's because I've hacked away at the code and done something wrong but think this unlikely as e.g. it happened when I put an extra line in in

[2020-10-22 22:17] robmoores opened #32 "Web preview not displaying"
Installed via Cloudformation stack in us-east-1. All works fine apart from no preview. I return some text that contains a valid URL eg https://bbc.co.uk . The URL is recognised as such (different colour, underlined) and clickable however there is no preview when I hover over the link (or any other time). Unsure if its relevant but two other messages are (intentionally) generated by the bot after t

[2020-10-27 22:28] khastation commented on #32
hi @robmoores
I can see the url preview in the chat for http://bbc.com and https://bbc.co.uk/. This process looks up for a webpage on the first attempt, fetches open graph metadata, saves it it Amazon DynamoDB for future reference, and renders it as a response card.

The website you mentioned does not return a valid [open graph](https://ogp.me/) image, so you see the returned metadata displayed (f

[2020-11-01 05:39] khastation commented on #24
Are you still having this issue?

[2020-11-01 05:59] khastation commented on #22
@robmoores can you help provide with your browser console logs so that we could try to analyze the issue?

[2020-11-01 09:44] robmoores commented on #22
Thanks and yes I can. Can you please be very specific about exactly what logs you want? I'm learning fast but detailed direction will help :-) Thanks

[2020-11-01 10:25] robmoores opened #33 "S3 Issue with London Preview URL Stack"
When initiating the stack in the London region I (and my colleague) keep hitting an S3 error. I have checked in Frankfurt, N.Virginia and Oregon and there is no issue - just London  eu-west-2.

The error appears very early - I click on the NEXT button in the screen below and the error message appears as per the screenshot

![image](https://user-images.githubusercontent.com/53277403/97800348-790d85

[2020-11-01 15:22] robmoores commented on #32
Thanks for your reply - it looks as though the URL has to be the only content in the response. Is that correct ?

[2020-11-01 15:39] robmoores commented on #32
Regarding the response for the getUrlPreview network request in my browser console. This is what I see - can ypu please advise how I show the correct details ? Thanks :-)

![image](https://user-images.githubusercontent.com/53277403/97807399-61e48c80-1c58-11eb-912d-5364d88d217e.png)

[2020-11-10 19:19] efh365 commented on #10
I will look into why different events are being generated based on the disconnectParticipant() API, but in the meantime, can you add the same end logic to the chat ended event that you have added to the participant left event?

What do you mean by "Do we have to initialize the chat interface when it is used more than once with out reload?"

[2020-11-10 19:21] efh365 commented on #22
@robmoores this will be difficult for us to help you debug if you have made a number of modifications to the code. Can you try to redeploy the stack in a clean environment and then let us know if you experience the issue there. If you don't, then it is a problem with modifications you have made and we won't be able to help with that.

[2020-11-10 19:22] efh365 commented on #24
@mTowers93 are you still having this problem?

[2020-11-10 19:31] efh365 commented on #33
Sorry the resource was not public. I just updated it. Can you try again?

[2020-11-10 19:32] efh365 commented on #32
Just to clarify here - I see that you are getting a 4xx to getUrlPreview, but I see that the preview is successfully displayed in the widget. Are you asking why the 4xx is being returned and if there should be different functionality?

[2020-11-10 19:49] robmoores commented on #22
Hi efh365. Thank you for replying. I have this issue whether I have modified the index.html or not. I can do a new install again and upload the browser logs - but as above I would need detailed guidance on how to find and send these logs :-)

[2020-11-10 19:50] robmoores commented on #33
Hi efh365 - phew I thought it was me being dense ! Yes I will try again but what you say above makes sense so I an sure it will work . Many thanks. Rob

[2020-11-10 19:51] #33 closed

[2020-11-10 19:54] robmoores commented on #32
Hi efh3653 - I wasn't asking about the 4xx - but since you have mentioned it I am curious and keen to learn, if you have the time to explain !

In khastation's earlier reply they said "Can you confirm the response for the getUrlPreview network request in your browser console?" However I could not find how to display the screen he shows above so was just asking for instructions on how to find that

[2020-11-11 01:53] amicming opened #34 "amazon connect contact flows attributes for InitialMessage"
Any Idea How do I supply initial message ? I'm referring this link - https://docs.aws.amazon.com/connect/latest/APIReference/API_StartChatContact.html.

[code]
I also tried this - https://github.com/amazon-connect/amazon-connect-chat-ui-examples/issues/21 .

I can get Name or some value in amazon connect contact flows. Is there a specific way to get InitialMessage?

[2020-11-11 18:26] efh365 commented on #22
can you look at these two closed issues to see if they fix your problem and then let me know the results from those debugging steps?
https://github.com/amazon-connect/amazon-connect-chat-ui-examples/issues/20
https://github.com/amazon-connect/amazon-connect-chat-ui-examples/issues/29

[2020-11-11 20:21] efh365 commented on #34
You should be able to add an initial message by adding a field to the initiate chat function:

connect.ChatInterface.initiateChat({
  name: customerName,
  initialMessage: "message here",
  username: username,
  region: ${region},
  apiGatewayEndpoint: "https://${apiId}.execute-api.${region}.amazonaws.com/Prod",
  contactAttributes: JSON.stringify({
    "customerName": customerName
  }),
  contact

[2020-11-11 20:24] efh365 commented on #32
I see. From your screenshot, you are almost there. You opened the right tab, but you have to open it before the request is made. If you open it afterwards, you wont see the result. So if you can open the console before you start the chat, that will help

[2020-11-11 20:36] robmoores commented on #22
Hi efh. Many thanks for replying. I will have to look at these tomorrow eve (UK time) now!

[2020-11-11 20:37] robmoores commented on #32
Hi efh. doh - so much to learn ! I'll have to do this tomorrow (UK) evening now. Thanks for the tip :-)

[2020-11-13 00:16] RatnaVallabhaneni-wisc opened #35 "Customer Chat in iframe"
We are implementing the amazon connect streams API on a project. I used the connect.ChatInterface.initiateChat and it works fine in a separate popup window as the amazon connect contact Control panel.

I wanted to implement the customer chat on the iframe so that it can be implemented in the layout page and be used through out the application. My problem here is when i reload the page, the existin

[2020-11-13 18:00] amicming commented on #34
Thanks @efh365 . This solution is now working. I added below code in front end side

[code]

[2020-11-13 21:06] efh365 commented on #35
Hi Ratna. This cloudformation template describes how to get the chat to persist through page refreshes: https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/asyncCustomerChatUX

[2020-11-13 21:50] RatnaVallabhaneni-wisc commented on #35
Thanks for the reply. We're using the startChatContactAPI. Does your suggestion changes since, we're using the startChatContactAPI.

For Reference, we're using the below example:
https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/startChatContactAPI

[2020-11-16 14:30] efh365 commented on #35
The startChatContactAPI repo simply triggers the start chat contact API, while the asyncCustomerChatUX also deploys a ddb table, an S3 trigger, and more involved code that keeps track of active chats and rehydrates existing ones instead of always starting a new one. Please refer to the readme in that repo to understand how it works and so your customer can pick up where they left off

[2020-11-17 10:00] mcosicaws commented on #27
Thank you for your feedback, we have merged the fix in PR #36
https://github.com/amazon-connect/amazon-connect-chat-ui-examples/pull/36

[2020-11-17 10:00] #27 closed

[2020-11-19 21:27] RatnaVallabhaneni-wisc commented on #35
Thanks. The asyncCustomerChatUX worked out and it is working as expected and we were able to keep the Chat on the reload. Is there any method that invokes the Disconnect customer chat, so that can be used on Window Close(as same functionality that end chat button click does)?

[2020-11-23 22:23] robmoores commented on #32
Hi. Apologis for delay in coming back on this. I think it is working ok. From what I can understand the URLPreviewLambda parses the response back to the user looking for a URL. If it doesnt find one then fine...if it does then it has to be the only string returned and there can only be one URL . That works ! Thanks.

[2020-11-23 22:23] #32 closed

[2020-11-23 22:44] robmoores commented on #22
Hi. Apologies for slow reply - we have been trying to investigate this for many days !
I have looked at #20 and #29 and I dont think they are related to the issue we are having.
Sometimes the UI works fine - then it goes crazy and adds thousands of entries into the /logs file and at the same time the wheel is spinning endlessly ...!
I have found this in the Cloudwatch logs(my xxxxxx added):
Access

[2020-11-23 22:57] robmoores opened #37 "Agent name"
Maybe more of a question than an issue - though may be the root cause of an issue....why does the test web page ask for a username and agent name ? Does it use these ? What if a agent name is specified that doesn't exist ? I've tried following the code and just can't see where these are used (but them I admit to being a noob). I've spent many hours poring over the stack and code and feel that I co

[2020-11-26 23:25] robmoores commented on #23
Hi. can you tell us how you resolved the issue please as we have similar issue ?

[2020-11-28 13:21] robmoores opened #42 "startChatContact.js - CLOSING - ME BEING DAFT!"
It was me being a bit thick - closing !

[2020-11-28 13:38] #42 closed

[2020-11-28 15:20] robmoores commented on #29
I know this is closed but if someone has a similat issue this is what the trigger on the S3 transcripts bucket should look like:
•	Event type: ObjectCreated
•	Notification name: Yssje6d8djx8w8wjs8xWUtMzAwYjdhMDQyNmI5
•	Prefix: connect/whatever/ChatTranscripts

[2020-11-28 15:45] robmoores commented on #22
Re issue #20: the first case you mention could;l be part of the issue:
Can you please let me know how we can identify the chat ended event ?
Thanks

You end a chat and then try to start a new one within a few seconds.
This happens because the DDB marks a chat as active until the chat transcript is dumped in S3. This takes about 30 seconds to happen so there is a delay in when the chat is marked as

[2020-11-28 21:31] ashokdevlabs commented on #7
Hello, We are trying to add asyncCustomerChatUX chat to a custom website and facing the above CORS issues. If you suggest any solution for this so that would be helpful. As part of adding chat widget to custom website i have done below things.
1. I have added website Url to initiateChatLambda function
2. We have created S3 bucket to host static website and imported 'amazon-connect-chat-interface.j

[2020-11-28 21:38] ashokdevlabs opened #43 "Cors errors occured when we created request to 'https://participant.connect.us-west-2.amazonaws.com/participant/connection'"
Hello, We are trying to add asyncCustomerChatUX chat to a custom website and facing the above CORS issues. As part of adding chat widget to custom website i have done below things.

1. We have added website Url to initiateChatLambda function
2. We have created S3 bucket to host static website and imported 'amazon-connect-chat-interface.js'

we are using region "us-east-1" but i am not sure why thi

[2020-11-30 03:45] angieyu commented on #37
Hey @robmoores, the username and agent name are sent as parameters to the start chat API Gateway call, then used by the Lambda, and written to the DynamoDB to track chat instances. They are also passed into the Amazon Connect SDK (called from the Lambda) to use in the contact flow.

As for the agent name, if it exists or not, that logic is handled in the routing logic in the contact flow. Potentia

[2020-11-30 03:47] angieyu commented on #43
Hi, can you try adding the URL that your widget lives on to the "Approved origins" tab on the Connect console?

[2020-11-30 19:23] robmoores commented on #37
Hi @angieyu Thanks for replying. I can see now that they are passed in the startChatContact as Attributes customerName and username. I will try picking those up in the Connect flow. I hadn't seen why the Agent name was requested but now understand its purpose - thank you :-)

[2020-11-30 19:23] #37 closed

[2020-11-30 21:53] robmoores commented on #43
Hi @angieyu The straneg thiung is that *everything* lives on us-east-1. Just can't understadn the reference to us-west-2. I;ve looked in the amazon-connectchat-interface.js and there are only two references to regions names:
            "us-west-2": {
                invokeUrl: "https://participant.connect.us-west-2.amazonaws.com"
and here:
"us-west-2/s3": "s3signature",

that .js file is way beyo

[2020-12-01 15:48] #35 closed

[2020-12-01 17:02] lukeschmidt-wisc commented on #22
@robmoores what would " You can update your solution to instead mark the chat as completed as a response to the chat ended event" look like
        chatSession.onChatDisconnected(function (data) {
             data._updateContactStatus("ended");
        });

Overall we are getting the same error as Re issue #24 but we think setting it to complete will resolve the issue. We are using amazon-connect

[2020-12-01 18:50] lukeschmidt-wisc commented on #22
chatSession.onChatDisconnected(function (data) {
**data._updateContactStatus("ended");**
});

 .data._updateContactStatus is not a function is what we are getting when we use the snippet above.  what object do we need to access the updateContactStatus and then change the object.  Thanks for the help!
![image](https://user-images.githubusercontent.com/74072411/100783605-9b352700-33d3-11eb-95fa-d967

[2020-12-01 19:24] robmoores commented on #22
@lukeschmidt-wisc I think that the advice given in use case 1 in issue #20 is to update DDB. So I think when you get to here in the index.html:
        chatSession.onChatDisconnected(function (data) {
            resetForm();       <--- as well as reset the form, call a Lambda to update the row in DDB to mark it as closed
        });

Thoughts ?

[2020-12-01 22:27] lukeschmidt-wisc commented on #22
We are attempting to keep the lambda functions to a minimum with our project and would rather use javascript.  When you say "call a Lambda to update the row in **DDB to mark it as closed**" are you referring to the table created by the cloudformationtemplate named like:  asyncCustomerChat-UX-chatContactDataTable....?  If so what column would be marked with the value closed?

[2020-12-02 20:16] robmoores commented on #22
@lukeschmidt-wisc You can wrap the javascript code in a lambda function, then you can trigger it from the API Gateway as the other two Lambdas are already. My understanding from reading the code is that is you put any value other than "NONE" in the S3Key it will effectively treat it as closed. BUT ... I am still a novice so please consider that and do your testing :-)

[2020-12-04 18:19] dfw100 commented on #18
Hoping you were able to get past this using information provided by efh365. Closing this issue; please reach out if you need additional information.

[2020-12-04 18:19] #18 closed

[2020-12-08 00:25] kqia040 commented on #24
Please feel free to re-open if you have still experiencing the same issue.

[2020-12-08 00:25] #24 closed

[2020-12-08 09:43] Typhon66 commented on #43
Hey @angieyu I'm having this exact same problem now. I have made no changes to the code or the template and just following the README, when using the cloudfront url provided i get this error when attempting to start a chat:

[code]

I have made sure that the URL origin is allowed in the amazon connect panel as well as making sure all the IAM roles have permission to access Amazon Connect. Not sure

[2020-12-09 03:09] kqia040 commented on #43
Hey @robmoores can you check your Index page, there is a line that initiates the chat interface with a region. Could you check that it is us-east-1?

https://github.com/amazon-connect/amazon-connect-chat-ui-examples/blob/master/cloudformationTemplates/asyncCustomerChatUX/website/index.html#L286

[2020-12-09 03:13] kqia040 commented on #43
Hey @Typhon66 is your request making pass the CORS issue? The access denied could be due to different issues. The CreateParticipantConnection API takes in a few parameters, are you able to call this API manually to check if the credentials are valid?

https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html

[2020-12-09 18:46] robmoores commented on #43
Hi @kqia040 kqia0 - ref: https://github.com/amazon-connect/amazon-connect-chat-ui-examples/issues/43#issuecomment-741496900
Yes it does:
					connect.ChatInterface.initiateChat({
						name: "Customer",
						username: "User1",
						region: "us-east-1",
						apiGatewayEndpoint: "https://xxxxxxxxx.execute-api.us-east-1.amazonaws.com/Prod",
						contactAttributes: JSON.stringify({
							"custome

[2020-12-18 23:35] khastation commented on #43
@robmoores thanks for the confirmation that you were able to fix your issue.

[2020-12-18 23:35] #43 closed

[2020-12-18 23:37] khastation commented on #26
@ChristianHart we recently updated the amazon-connect-chat-interface.js in our repo, can you let us know if you're facing the same issue with the new file?

[2020-12-21 15:53] cmrockwell opened #44 "Hours of Operations & Agent Online/Offline Status"
My Amazon Connect has configurations for "Hours of Operation"

1. How can I pass this information to the customer chat UI such that the chat widget shows some kind of 'chat is open/closed' functionality?
2. If the no agents are online, can the customer UI show whether chat as offline?

[2020-12-21 16:48] cmrockwell commented on #44
NVM, I see this can handled using the Contact Flow

https://docs.aws.amazon.com/connect/latest/adminguide/check-hours-of-operation.html

[2020-12-21 16:48] #44 closed

[2020-12-24 15:07] psvGustavo opened #45 "asyncCustomerChatUX - The specified bucket does not exist - error"
Hello, first off thanks for the example and solution , the step by step is very well written.

I'm currently having an issue when i try to create the stack on the "Set Up Steps" part 2. When i try to run , it displays the error "The specified bucket does not exist". It does create it on the S3 Bucket list and some files are created but the error make the entire thing rollback.

What could i do in

[2021-01-05 18:44] amicming opened #46 "amazon-connect-chat-interface.js does not working in Internet Explorer 11."
Hello ,

Does anyone have any fix or Idea , why amazon-connect-chat-interface.js is not working in  Internet Explorer 11.

![image](https://user-images.githubusercontent.com/1154682/103699941-8c084280-4f58-11eb-8f75-87ee0c63d760.png)

[code]

[2021-01-05 23:53] amicming commented on #46
I found this - https://stackoverflow.com/questions/44091075/script438-object-doesnt-support-property-or-method-values

Object.values() is not supported in Internet Explorer. - see [browser compatibility](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Object/values#Browser_compatibility) for Object.values()

Is this going to fix soon?

[2021-01-11 23:34] amicming opened #47 "Source Code for amazon-connect-chat-interface.js"
Hello Team,

Is there a way we can get a code for amazon-connect-chat-interface.js? Currently, we have a minified code. Any idea when it will go to open source?

Thanks,

[2021-01-18 21:26] cmrockwell commented on #47
I agree with and second this request. Source for `amazon-connect-chat-interface.js` seems like a big omission. Especially in the way it's setting CSS style in the JS; only thing to do is overwrite it with more specific styles. Also API docs would be nice for ChatInterface would be nice, because ChatInterface is not part of the amazon-connect-chatjs API

[2021-01-19 23:57] deepathakkar opened #48 "Latest amazon-connect-chat-interface.js does not include URL preview feature"
Is there a version of chat-interface.js that contains all latest features including urlpreview and interactive messages ?
Looking at file chat-interface.js from asyncCustomerChatUX and urlpreview they are not really from same master it seems. None of the files support both urlprevieiws and interactive messages.

[2021-01-20 15:54] mtvmattwind opened #49 "help resolving error"
Wed Jan 20 15:52:32 UTC 2021 : Endpoint response body before transformations: {"errorType":"TypeError","errorMessage":"Cannot read property 'Username' of null","trace":["TypeError: Cannot read property 'Username' of null","    at Runtime.exports.handler (/var/task/startChatContact.js:12:23)","    at Runtime.handleOnce (/var/runtime/Runtime.js:66:25)"]}

[2021-01-23 15:40] adwonnacott commented on #45
Same here!

[2021-01-26 01:19] mukundparmar commented on #22
is this working for anybody, I am stuck at the same issue.

chatSession.onChatDisconnected(function (data) {
data._updateContactStatus("ended");
});

Above code didn't work for me in fact after updating that and also removed resetForm() and now it's not even reloading the page second time.

[2021-01-27 10:12] artworx commented on #45
I'm having the same issue:

![image](https://user-images.githubusercontent.com/1954578/105976400-ccab3580-6098-11eb-8532-a0935d2fa4c2.png)

[2021-01-29 23:26] khastation commented on #48
@deepathakkar We've added support for attachments to the urlPreview solution. Let us know if you have any issues.

[2021-01-29 23:27] #48 closed

[2021-02-04 16:22] cmrockwell commented on #47
The fact that devs won't respond is a concern. What kind of data mining and analytics happens in this code?

[2021-02-08 16:13] MattDN93 commented on #46
Amazon Connect [does not support Internet Explorer at all](https://docs.aws.amazon.com/connect/latest/adminguide/browsers.html) for the softphone, and by extension the JS SDKs for manipulating chats and calls in that regard will not support IE and hence will probably never be "fixed". Suggest you use another supported browser instead, like Chrome, Firefox!

[2021-02-08 16:34] MattDN93 commented on #22
Another note on this - I've seen endless loads when the `StartChatContact` API ends up returning [ParticipantToken](https://docs.aws.amazon.com/connect/latest/APIReference/API_StartChatContact.html#API_StartChatContact_ResponseSyntax) for a chat whose session is no longer active leading to the 403 in the logs. I looked into my deployment and noticed that when this exact behaviour occurs it's when

[2021-02-12 01:23] khastation commented on #47
@amicming @cmrockwell Thanks for your request, we’re currently looking into it and will get back shortly.

[2021-02-15 23:28] efh365 commented on #49
@mtvmattwind can you please add more information as to where you saw this error, which of few solutions you deployed, and if you made any modifications?

[2021-02-15 23:32] efh365 commented on #46
Yes, I am sorry but IE9 is not supported.

[2021-02-15 23:32] #46 closed

[2021-02-16 00:07] efh365 commented on #45
Sorry for the delay here. @psvGustavo @adwonnacott can you please add a screen shot of the error and add more detail? Which specific resource fails due to the bucket not existing?

@artworx it seems like your error is different. Can you confirm that you are deploying the stack in eu-west-2 and the lambda function in question is in eu-west-2? That object is marked as public so you should have acces

[2021-02-16 00:07] #26 closed

[2021-02-16 07:48] artworx commented on #45
@efh365 using the exact same settings `asyncCustomerChatUX` fails with the error above, `startChatContactAPI` deployed successfully.

[2021-02-16 12:52] #49 closed

[2021-02-16 20:35] efh365 commented on #45
Can you confirm the regions match correctly? That you are in eu-west-2 when you deploy the async chat solution

[2021-02-17 07:39] artworx commented on #45
I used the "Launch Stack" button next to eu-west-2, hopefully, it sets the region correctly.

This is the behavior I'm seeing, which is consistent with the cloudformation error I've posted above.

[code]

[code]

[2021-02-18 22:44] efh365 commented on #45
Oh wow thank you for the find! I saw the urlPreviewFunction.zip file in the eu-west-2 bucket but it looks like the Layer.zip file was missing. I just uploaded it and made it public. Please let me know if that fixed your problem

[2021-02-20 06:11] amicming commented on #46
@efh365 , Did you see this - https://github.com/amazon-connect/amazon-connect-chat-ui-examples/pull/50 ?

See 2nd point in PR description - Adds some styling fixes for IE 11

Can you please confirm? Is it not working in IE 9 or IE 11? I'm talking for IE 11 NOT IE 9

[2021-02-22 19:34] efh365 commented on #46
I spoke to the user who submitted that PR and he said the change he did was best effort for IE11, but IE11 is not officially supported by Amazon Connect.

[2021-02-25 23:47] peterdotcode commented on #21
Thanks for posting this found this really helpful!

[2021-03-02 22:25] efh365 commented on #47
We have now open sourced chat interface js. You can find the repo here: https://github.com/amazon-connect/amazon-connect-chat-interface

[2021-03-02 22:27] #47 closed

[2021-03-02 22:28] efh365 commented on #12
You can disable console logs if you use the open source version of chat-interface-js. If you follow the build steps for prod it removes the console logs. https://github.com/amazon-connect/amazon-connect-chat-interface

[2021-03-02 22:28] #12 closed

[2021-03-02 22:29] efh365 commented on #14
We have open sourced the interface.js file - https://github.com/amazon-connect/amazon-connect-chat-interface

[2021-03-18 06:06] ashakdhe opened #51 "Better segregation of topics/steps in startChatContactAPI/README.md"
Hello,

Here's some feedback revolving around the segregation of sections more clearly

- The "Prebuilt Chat Widget" section ends after point 3.  Right after, the next topic "## Create Your Own Chat UX" starts without any heading. Clear demarcation would be helpful here.
- We jump straight to point number 7 after point number 3.

[2021-03-29 20:55] efh365 commented on #51
Thank you for pointing out the styling bug! I just updated the readme

[2021-03-29 20:55] #51 closed

[2021-03-29 20:55] #45 closed

[2021-03-29 20:56] #10 closed

[2021-03-29 20:57] efh365 commented on #22
I just wanted to check in here - is there still an issue or has it been resolved?

[2021-03-29 21:33] robmoores commented on #22
Hi @efh365 . As per comment on Nov 23rd we decided to take the easy way out and not write to the log - that resolves the issue. I'vve not reconsidered it for a whilebut happy to do some testing under guidance :-)

[2021-03-30 17:58] #22 closed

[2021-05-11 06:58] Shubham-Pachade opened #52 "How to not loose chat on page refresh"
I am using a pre-built chat widget in **cloudformationTemplates/startChatContactAPI**. I have deployed the compete stack and I can now link it to my website users. But, the problem is when the user refreshes the page the chat session disappears and on clicking, **start chat** a new chat session is established? How do I retain my previous chat session even on events like page refresh?

[2021-05-11 13:24] efh365 commented on #52
Hi @Shubham-Pachade. We have another solution in this repo, the asyncChatSolution, that enables you to retain the session on page refreshes. Basically, it maintains open chat sessions in a DDB table and reestablishes the existing chat if there is one for the user. Please refer to the [README](https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/asyn

[2021-05-11 13:25] #52 closed

[2021-05-11 15:27] Shubham-Pachade commented on #52
Thank you so much. **asyncChatSolution** is exactly what I was looking for.

[2021-05-19 18:05] robmoores opened #53 "Clicking on URL Preview opens link in same web page, so losing the chat"
Hi. I am successfully displaying a URL preview in a chat window on the Amazon Connect Omni-Channel Demo web page that comes with the URL Preview Cloudformation stack. However if I click on the preview it opens the link in the same tab, and I lose the chat - even if I click on the back button on the browser. I can right click on the link and open it in a new tab but I can't really expect the custom

[2021-05-28 11:01] Shubham-Pachade opened #54 "Conflict in AWS SDK and chat-interface.js"
The problem I am facing is, where to place "<script src="js/amazon-connect-chat-interface.js"></script>" in the code. Since if I keep this script tag above the AWS SDK import script tag (<script src="https://sdk.amazonaws.com/js/aws-sdk-2.769.0.min.js"></script>) then there is an error **TypeError: AWS.ConnectParticipant is not a constructor**. If kept below then error **Uncaught TypeError: AWS.Dy

[2021-06-15 11:37] ZeeshiM opened #55 "Getting Resource Not Found of type Null in response while starting the chat contact"
Can anyone help me resolve this error.

**caught error ResourceNotFoundException: Resource not found of Type: null**

i got this error while initiating the chat contact from my lambda function in amazon connect.

Object I'm sending to initiate the chat:

var startChat = {
            InstanceId: instanceId,
            ContactFlowId: conactflowid,
            Attributes: {
                "custome

[2021-06-22 22:20] ashokdevlabs opened #56 "ConnectParticipant is not a constructor"
Trying to connect connectParticipant service using aws-sdk but it giving error like below.

TypeError: aws_sdk__WEBPACK_IMPORTED_MODULE_5___default.a.ConnectParticipant is not a constructor

Please find the sample request below.
var params = {
          ParticipantToken: ParticipantToken,  // ParticipateToken from StartContactChat response
          Type: [
            "WEBSOCKET","CONNECTION_CRED

[2021-06-22 22:29] ashokdevlabs commented on #4
Trying to connect connectParticipant service using aws-sdk but it giving error like below.

TypeError: aws_sdk__WEBPACK_IMPORTED_MODULE_5___default.a.ConnectParticipant is not a constructor

Please find the sample request below.
var params = {
ParticipantToken: ParticipantToken, // ParticipateToken from StartContactChat response
Type: [
"WEBSOCKET","CONNECTION_CREDENTIALS"
]
};

var connectpartici

[2021-06-28 16:20] ashokdevlabs commented on #56
@tscheuneman Could you please suggest a fix for this

[2021-07-02 23:10] ashokdevlabs commented on #43
@kqia040 @angieyu  I am  trying to connect connectParticipant service using aws-sdk but it giving error like below.

TypeError: aws_sdk__WEBPACK_IMPORTED_MODULE_5___default.a.ConnectParticipant is not a constructor

Please find the sample request below.
var params = {
ParticipantToken: ParticipantToken, // ParticipateToken from StartContactChat response
Type: [
"WEBSOCKET","CONNECTION_CREDENTIALS"

[2021-07-20 20:41] dbasak-chat commented on #8
We had to delete the existing trigger and recreate it to make it work. This can also be a potential solution.

[2021-07-30 10:22] mcosicaws commented on #56
Could you please confirm that version of the AWS SDK you are importing has the ConnectParticipant service included?

It would be helpful if you could provide more details on your architecture, like are you trying to `createParticipantConnection` on client side, by importing AWS SDK?

It might be easier to use https://github.com/amazon-connect/amazon-connect-chatjs as it already has everything you

[2021-07-30 10:27] mcosicaws commented on #55
Could you please post here the output of this line: `console.log("Object-Compiled", startChat);`
Since it would be useful to see the exact parameters you're sending to Amazon Connect API.

Thanks,
Milos

[2021-07-30 10:31] mcosicaws commented on #54
`amazon-connect-chat-interface` has `amazon-connect-chatjs` as a dependency.

The AWS-SDK is, by default, included in `amazon-connect-chatjs` as a "baked-in" dependency.
Please check `amazon-connect-chatjs` README:
https://github.com/amazon-connect/amazon-connect-chatjs
There is a section that describes the correct import order.
https://github.com/amazon-connect/amazon-connect-chatjs#scenario-4-ch

[2021-07-30 19:43] ashokdevlabs commented on #56
@mcosicaws  I am using AWS SDK version 2.932.0 and using the below code to connect to Amazon Connect service.

import AWS from 'aws-sdk';
import 'amazon-connect-streams';
import 'amazon-connect-chatjs';

 AWS.config.update({
    region: "us-east-1",
    accessKeyId: "accessKeyId",
    secretAccessKey: "secretAccessKey"
  });

  useEffect(()=>{
    var connect = new AWS.Connect({apiVersion:'2017-08

[2021-08-02 09:21] mcosicaws commented on #56
Thanks for sharing the details, much appreciated.

In case you're developing a customer side chat (i.e. a widget on your public website), you don't need to import `amazon-connect-streams`, since that library lets you embed the agent side UI (Contact Control Panel (CCP)) into your page.

Also, `connect.startChatContact` is typically invoked from 'server' side, for instance, you'd create a Lambda fu

[2021-09-07 10:47] mcosicaws commented on #56
Closing due to no response, please feel free to re-open should you need any additional help.

[2021-09-07 10:48] #56 closed

[2021-09-07 10:49] mcosicaws commented on #55
Closing due to no response, please feel free to re-open should you need any additional help.

[2021-09-07 10:49] #55 closed

[2021-09-07 10:50] mcosicaws commented on #54
Closing due to no response, please feel free to re-open should you need any additional help.

[2021-09-07 10:50] #54 closed

[2021-11-06 18:11] MHamza8070 opened #58 "when i refresh or switch's tab the custom chat widget, the chat disappeared instead of continue the previous ongoing chat."
when i refresh the custom chat widget, the chat starts again instead of continue the previous ongoing chat and on agent side, previous chat not ended. So I need guidance about how to handle refresh scenario in chat widget, I run this repository code, it also not entertains the refresh thing. Can you guys please guide i will be very thankful to you!

[2021-11-06 21:08] MHamza8070 commented on #53
Hi man! did you managed to get this done, i need guidance!

[2021-11-11 18:43] cmrockwell opened #59 "Template Fails"
Hi
Just tried the startChatContactAPI cloud template. It failed with the following message

Resource handler returned message: "The runtime parameter of nodejs10.x is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs14.x) while creating or updating functions. (Service: Lambda, Status Code: 400, Request ID: xxxxxxx, Extended Request ID:

[2021-11-22 16:46] mcosicaws commented on #58
Could you please confirm you if have deployed asyncCustomerChatUX:
https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/asyncCustomerChatUX

That solution enables customers to continue an existing chat interaction.
First time a chat contact is started, Lambda function invokes Amazon Connect StartChatContact API, and stores the result in a DynamoDB t

[2021-11-22 16:52] mcosicaws commented on #59
Thanks for letting us know, we are going to work on template updates, but in the meantime could you please try to update cloudformation.yaml by setting Lambda Runtime to nodejs14.x and test the deployment?

[2021-12-21 13:18] #58 closed

[2022-02-04 08:45] trondvo opened #62 "node14"
Please update the scripts to node14, node10 seem to be not supported anymore.

[2022-02-07 18:48] dfw100 commented on #62
Thanks for reporting the issue @trondvo . We will update the runtime in the next release.

[2022-02-08 19:57] khastation commented on #59
@cmrockwell release v1.2.3 addresses this issue, let us know if you have other questions.

[2022-02-08 19:57] #59 closed

[2022-02-08 19:57] khastation commented on #62
@trondvo release v1.2.3 addresses this issue, let us know if you have other questions.

[2022-02-08 19:57] #62 closed

[2022-03-10 16:48] kevinjfogarty opened #63 "Cannot start new chats without refreshing the webpage"
After having deployed the ASync solution as well as cloning/building the customChatWidget, I am able to start a chat without issue, but am not able to consistently start a 2nd chat after the 1st has ended (clicking end chat from widget) without refreshing the webpage.

I am using a unique name/username in the form each time, but subsequent chats after the first has ended seem to be working on the

[2022-04-08 19:46] agnel0410 commented on #63
Hi Kevin,

Did you manage to resolve this issue ?

[2022-04-09 00:57] kevinjfogarty commented on #63
No, not exactly. We instead went with the widget from the async chat
solution (instead of the custom chat widget) which did not have this issue.

On Fri, Apr 8, 2022, 3:47 PM agnel ***@***.***> wrote:

[2022-05-23 10:54] MichaelM193 opened #65 "cloudformationTemplates/asyncCustomerChatUX sample can't load transcript with same username"
Does anyone meet the same issue, after deploy asyncCustomerChatUX template, use the same FirstName and UserName to login and load the Chat UI, there can't load the transcript but just start a new contact session.

[2022-06-06 02:37] LahiruWijesuriya opened #66 "Browser Notifcations"
Do browser notifications need to be manually implemented in this repo? If so, how?

[2022-07-26 17:32] fidel-tensoriot commented on #66
I managed to get the notifications working on my implementation on both the "CustomChatWidget" and the "connect-chat-interface"

You have to allow permission for the notification api by tying it into an event like a click.

[2022-08-10 23:54] pundaripothini opened #68 "asyncCustomerChatUX Lambda does not pass contact attributes to Contact Flow"
There is a bug in the startChatContact function. This statement that builds the var for start chat contact ignores Attributes, I had to change it to look like this to work (check the "Attributes" setting, the CFT only sets Customername and UserName parameters.

 var startChat = {
            "InstanceId": instanceId == "" ? process.env.INSTANCE_ID : instanceId,
            "ContactFlowId": contact

[2022-09-26 20:50] fidel-tensoriot commented on #63
Also ran into this issue using the custom chat solution.

[2022-10-19 11:35] komnatadeveloper opened #69 "customChatWidget double call issue After Agent Misses Call"
Hi,

We are facing with following issue in following scenario:

1. When we are using "**customChatWidget**" option,
2.  and if Agent doesnt reply in time (misses call),
3. 3. and after missing call agent clicks on "**Close contact**" button,
4.  and Agent **Accepts** next call on time,
5. but, a second call is also triggered on Agent Side, and on Agent Side, 1st accepted chat seems to be active, b

[2022-10-25 21:34] angieyu commented on #69
Hi, what is your use case for this? Did you know that chat is available in the product now? https://docs.aws.amazon.com/connect/latest/adminguide/add-chat-to-website.html

[2022-10-26 16:40] gonovanatasha opened #70 "asyncCustomChatUX----After Click End Chat Button Screen Requires Refreshing otherwise chat initialiazation failed"
After deploying asyncCustomChatUX  Cf . Everything is fine but whenever i ended chat and reopen chat it shows initialization failed until i do page refresh. What i found is if dynamodb is not updated with s3 key it will show initialization failed error as it passes same params thinking that chat is not ended

[2022-10-31 19:59] angieyu commented on #69
Hi @komnatadeveloper I was able to reproduce the issue. I'll ask around if people are aware of a fix. The original maintainer for this is no longer on the team and the example is pretty old. I'll keep you updated on what I find.

[2022-10-31 20:01] angieyu commented on #70
Hi, can you try initiating chat with a different username? You also need to click "end chat", rather than just closing the chat window, to update the DynamoDB entry that the chat is closed.

[2022-10-31 20:02] angieyu commented on #68
Hi, I believe the attribute is "contactAttributes", not "attributes"

See README https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/asyncCustomerChatUX

connect.ChatInterface.initiateChat({
  name: customerName,
  username: username,
  region: ${region},
  apiGatewayEndpoint: "https://${apiId}.execute-api.${region}.amazonaws.com/Prod",
  contactAt

[2022-10-31 20:05] angieyu commented on #66
hi @LahiruWijesuriya, was your question answered?

[2022-10-31 20:20] angieyu commented on #65
Hi, this is not an out of the box feature. You can find the previous transcript, attach it to the contact attribute, and pass it to the agent view to display.

[2022-10-31 20:23] angieyu commented on #63
Please use the async chat solution. We've been seeing problems with custom chat.

[2022-11-01 13:00] gonovanatasha commented on #70
@angieyu i clicked on "end chat" everythime but dynamodb updates late and when we click icon again it shows initialization failed

[2022-11-04 04:34] manzanofab opened #71 "customChatWidget: Cloudformation template"
Hi, I am following the steps on solution number 5. One of the steps (Usage):

apiGateway: Provide Amazon API Gateway URL for your Amazon Connect Chat backend, that was deployed using the Cloudformation template

But within this directory there is no Cloudformation template.

If I go up into the other 4 solution, I can see in them cloudformation templates but each one is different url. Can I pick a

[2022-11-04 04:59] manzanofab commented on #71
I actually got it working with
https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/startChatContactAPI
after a bit of try and error :)

[2022-11-04 04:59] #71 closed

[2022-11-05 18:56] coronel08 opened #73 "Chat Widget State is wrong after ending a chat."
On load the chat widget is working as desired.

We have the `chat widget` icon showing when the chat window is not showing.
![Chat Widget Icon](https://user-images.githubusercontent.com/36834979/200136182-e9375d0a-9c7e-46a9-bb3c-c6bd02b95cf0.png)

We have the `chat minimize` arrow icon showing when the chat window is showing.
![Chat minimize Arrow](https://user-images.githubusercontent.com/3683497

[2022-11-05 19:13] coronel08 opened #74 "Chat Widget Notifications Icon when message is received and chat window is minimized"
https://docs.aws.amazon.com/connect/latest/adminguide/browser-notifications-chat.html

The feature for displaying a marker for unread messages above the widget does not seem to be included in this chat widget implementation. The website states
"
Customers also receive a notification icon—a red dot—on the chat widget when it is minimized. The following image shows an image of the notification icon

[2022-11-05 19:31] coronel08 commented on #63
@angieyu is this the async chat you are recommending?  https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/cloudformationTemplates/asyncCustomerChatUX

I unfortunately had to alter the following libraries for a project because we needed a fully customized widget and chat-interface. I would build my `Amazon-Connect-Chat-Interface` and drag and replace that file in my `Cust

[2022-11-10 17:38] gonovanatasha opened #77 "Editing Toolbar with input textfield of chat message in Amazon Connect Custom Widget "
![image](https://user-images.githubusercontent.com/71895144/201167159-09467835-63ca-40f8-8355-38194023cc60.png)

As it is visible in first screenshot that chat widget given by Amazon Connect CCP script has editing functionality and send button within input field but custom chat widget solution neither have editing functionality and send button within input field. 

[2022-11-23 04:03] chenxi365 opened #80 "How to get preChatForm field value in the contact flow?"
I use the  [customChatWidget](https://github.com/amazon-connect/amazon-connect-chat-ui-examples/tree/master/customChatWidget). How to get preChatForm field value in the contact flow? I have tried many ways to get the value, like use "$.Attributes.email" in contact flow, but it doesn't work.